.action-btn {
  display: inline-flex;
  align-items: center;
  gap: var(--space-1);
  background: none;
  border: none;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-base);
  color: #f2f2f2;
  cursor: pointer;
  text-decoration: none;

  &span {
    transition: transform .3s ease;
  }

  &:hover {
    
    transform: translateX(4px);
  
  }
}
