.client-quote{
    background: #121212;
    padding: 30px;
    text-align: center;
    font-weight: 300;
    p{
        color: #FFF;
        font-size: 26px;
        small{
            font-size: 18px;
        }
    }
}