<div class="overlay"
     *ngIf="menu.isOpen()"
     @overlayAnim>
  <button class="close" (click)="menu.toggle()">✕</button>

  <div class="left">
    <div class="logo">DEPT.</div>

    <div class="location">
      <p>Landen</p>
      <ul>
        <li *ngFor="let c of menu.countries; let i = index"
            (click)="menu.setActive(i)">
          ▶ {{ c }}
        </li>
      </ul>
    </div>
  </div>

  <div class="right">
    <div class="menu-item"
    @menuItemAnim
         *ngFor="let item of menu.mainMenu; let i = index"
         [class.active]="menu.activeIndex() === i">
      <span *ngIf="menu.activeIndex() === i">▶</span>
      {{ item }}
    </div>
  </div>
</div>
