<section class="hero"  >
  <div class="hero-card">
    <div class="card-img-wrapper">
      <picture class="card-img">
        <img src="../../../assets/images/banner-1.png" alt="Banner image" class="img">
      </picture>
      <div class="card-overlay"></div>
    </div>

    <div class="hero-card-content">
      <span class="hero-sub-heading">WORK</span>
      <h2 class="hero-heading">A selection of projects that <strong>pioneer tech</strong> and <strong>marketing</strong>
        to help brands stay ahead.</h2>
    </div>
  </div>
</section>

<app-works-page-container [enableFilters]="true" [syncWithUrl]="false" [limit]="6"></app-works-page-container>

<!-- Adding static grids here to achieve the UI as per UX, we can manage it dynamicly and takes time to implement, but lack of time and other commitments I am doing static code only -->

<section class="clientNote worksSection "  >
  <div class="row gx-0">
    <div class="col-xl-8 col-lg-8 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work5.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> FLORENSIS</span>
          <h2 class="hero-heading">Rethinking the entire online ecosystem</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6">
      <ul class="client-note-list m-0">
        <li class="client-note-list-item text-white">
          <h4 class="text-white">MICROSOFT</h4>
          <p class="text-white">Integrating existing content into O’Neills’s new e-commerce platform</p>
          <app-button>Read more</app-button>
        </li>
        <li class="client-note-list-item text-white">
          <h4 class="text-white">MICROSOFT</h4>
          <p class="text-white">Integrating existing content into O’Neills’s new e-commerce platform</p>
          <app-button>Read more</app-button>
        </li>
        <li class="client-note-list-item text-white">
          <h4 class="text-white">MICROSOFT</h4>
          <p class="text-white">Integrating existing content into O’Neills’s new e-commerce platform</p>
          <app-button>Read more</app-button>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="worksSection "  >
  <div class="row gx-0">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work6.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> BE LIGHTNING</span>
          <h2 class="hero-heading">Delivering clarity on a global scale</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work7.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> TUI</span>
          <h2 class="hero-heading">Swipe to find your next holiday destination</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
  </div>
</section>


<section class="clientNote worksSection "  >
  <div class="row gx-0">
    <div class="col-xl-4 col-lg-4 col-md-6">
      <ul class="client-note-list m-0">
        <li class="client-note-list-item text-white">
          <h4 class="text-white">MICROSOFT</h4>
          <p class="text-white">Integrating existing content into O’Neills’s new e-commerce platform</p>
          <app-button>Read more</app-button>
        </li>
        <li class="client-note-list-item text-white">
          <h4 class="text-white">MICROSOFT</h4>
          <p class="text-white">Integrating existing content into O’Neills’s new e-commerce platform</p>
          <app-button>Read more</app-button>
        </li>
        <li class="client-note-list-item text-white">
          <h4 class="text-white">MICROSOFT</h4>
          <p class="text-white">Integrating existing content into O’Neills’s new e-commerce platform</p>
          <app-button>Read more</app-button>
        </li>
      </ul>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work10.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> FLORENSIS</span>
          <h2 class="hero-heading">Rethinking the entire online ecosystem</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
  </div>
</section>

<section class="worksSection "  >
  <div class="row gx-0">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work9.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> BE LIGHTNING</span>
          <h2 class="hero-heading">Delivering clarity on a global scale</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work8.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> TUI</span>
          <h2 class="hero-heading">Swipe to find your next holiday destination</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
  </div>
</section>

<app-client-quote  ></app-client-quote>

<section class="worksSection "  >
  <div class="row gx-0">
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work11.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> LIBERTY GLOBAL </span>
          <h2 class="hero-heading">Delivering complex commerce solutions</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
      <div class="hero-card max-h-560 overflow-hidden">
        <div class="card-img-wrapper">
          <picture class="card-img">
            <img src="../../../assets/images/works/work12.png" class="img" width="600" height="300" loading="lazy" />
          </picture>
          <div class="card-overlay"></div>
        </div>

        <div class="hero-card-content">
          <span class="hero-sub-heading"> ARLA</span>
          <h2 class="hero-heading">Swipe to find your next holiday destination</h2>
          <app-button> Read more </app-button>
        </div>


      </div>
    </div>
  </div>
</section>
<app-clients  ></app-clients>

<section class="contact-form"  >
  <div class="row m-0">
    <div class="col-md-6">
      <h2 class="contact-form-title">QUESTION?

WE ARE HERE

TO HELP!</h2>
    </div>
    <div class="col-md-6">
      <app-contact-form
        (submitted)="onContactSubmitted()"
      />
    </div>
    <div class="col"></div>
  </div>
      

      
    </section>