.hero-card{
    position: relative;
        .card-img-wrapper{
                justify-content: center;
                align-items: center;
                .card-img {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    .img {
                        width: 100%;
                        max-width: 100%;
                        height: 100%;
                        display: block;
                    }
                    img {
                        -o-object-fit: cover;
                        object-fit: cover;
                        
                    }
                }
                .card-overlay{
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    mix-blend-mode: normal;
                    background-image: linear-gradient(358.53deg, rgba(0, 0, 0, 0.33) 1.79%, rgba(0, 0, 0, 0) 99.33%);

                }
        }
        .hero-card-content{
            position: absolute;
            z-index: 11;
            bottom: 0;
            left: 0;
            padding: 56px;
            width: 100%;
            max-width: 50%;
            .hero-sub-heading , .hero-heading{
                color: #FFF;
                line-height: 100%;
            }
            .hero-sub-heading{
                font-size: 16px;
            }
            .hero-heading{
                font-size: 34px;
                font-weight: 300;
            }
            
        }
    }