<section class="clients">
    <h4>Clients</h4>
    <p>We value a great working relationship with our clients above all else. It’s why they often come to our parties. It’s also why we’re able to challenge and inspire 

them to reach for the stars.</p>

<div class="client-list">
   <span> <img src="../../../assets/images/clients/image 63.svg"/></span>
    <span><img src="../../../assets/images/clients/image 64.svg"/></span>
    <span><img src="../../../assets/images/clients/image 65.svg"/></span>
    <span><img src="../../../assets/images/clients/image 66.svg"/></span>
    <span><img src="../../../assets/images/clients/image 67.svg"/></span>
    <span><img src="../../../assets/images/clients/image 68.svg"/></span>
    <span><img src="../../../assets/images/clients/image 69.svg"/></span>
    <span><img src="../../../assets/images/clients/image 70.svg"/></span>
    <span><img src="../../../assets/images/clients/image 71.svg"/></span>
    <span><img src="../../../assets/images/clients/image 72.svg"/></span>
    <span><img src="../../../assets/images/clients/image 73.svg"/></span>
    <span><img src="../../../assets/images/clients/image 74.svg"/></span>
</div>
</section>