

<!-- MAIN FOOTER -->
<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">DEPT.</div>

    <nav class="footer-nav">
      <a>WORK</a>
      <a>SERVICES</a>
      <a>STORIES</a>
      <a>ABOUT</a>
      <a>CAREERS</a>
      <a>CONTACT</a>
    </nav>
  </div>

  <div class="footer-bottom">
    <div class="bottom-links">
      <span class="inline-block">Chamber of Commerce: 63464101  </span>
      <span class="inline-block">VAT: NL8552.47.502.B01</span>
      <span class="inline-block">Terms and conditions</span>
    </div>

    <span class="copyright">
      © 2024 Dept Agency
    </span>
  </div>

  <button class="to-top" (click)="scrollTop()">↑</button>
</footer>
