<section class="works-container">
  <ng-container *ngIf="!loading(); else loadingTpl">

    <ng-container *ngIf="enableFilters">
      <app-works-filters
        [industry]="industry()"
        [category]="category()"
        (filterChange)="updateFilters($event.industry, $event.category)"
      />

      <app-works-view-toggle
        [view]="viewMode()"
        (viewChange)="viewMode.set($event)"
      />
    </ng-container>

    @defer {
      <app-works-grid
        [works]="filteredWorks()"
        [view]="viewMode()"
      />
    }
  </ng-container>

  <ng-template #loadingTpl>
    <p>Loading works…</p>
  </ng-template>
</section>
