$small: 768px;
$medium: 991px;

@media screen and (max-width: $small) {
    //do Smth
    .worksSection.grid {
    grid-template-columns: repeat(1, 1fr)!important;
}
  }

  @media screen and (max-width: $medium) {
    .hero-card-content{
        padding: 30px;
    }
    
    .hero-card .hero-card-content {
        padding: 30px;
        max-width: 100%!important;
    }
    .worksSection .hero-card .hero-card-content .hero-heading {
        font-size: 26px!important;
    }

  }